/*---- CSS Google Fonts import ----*/
@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100,300,400,500,700,800|Jura:300,400,500|Coming+Soon:400");

/*---- Import Other CSS Files ----*/
@import "arrows.css";
@import "arrows-social.css";

/*---- Hero Header ---*/
.hero  {
  height: 100%;
  position: relative;
  text-align: center;
  background-image: url("../images/funky-lines.png");
  overflow-x: auto;
  overflow-y: auto;
  text-rendering: optimizeLegibility;
  font-kerning: initial;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing:  inherit;
  margin-top: -10px;
  border-bottom: solid;
  border-bottom-color: #700099;
  border-bottom-width: 2px;
}
/*---- Menu ----*/

*{
  margin: 0;
  padding: 0;
}

.clear{
  clear: both;
}


.slide-toggle{
  display: none;
}

.slidemenu{
  font-family: "Jura";
  font-weight: 300px;
  max-width: 600px;
  margin: 5px auto;
  margin-bottom:30px;
  overflow: hidden;
}

.slidemenu a{
  font-family: "Jura";
  font-weight: 300px;
  font-size: 18px;
}

.slidemenu label{
  width: 25%;
  text-align: center;
  display: block;
  float: left;
  color: #333;
  opacity: 0.2;
}

.slidemenu label:hover{
  cursor: pointer;
  color: #700099;
}

.slidemenu label:active{
  cursor: pointer;
  color: #700099;
}

.slidemenu label span{
  display: block;
  padding: 10px;    
}

.slidemenu label .icon{
  font-size: 20px;
  border: solid 2px #333;
  text-align: center;
  height: 50px;
  width: 50px;
  display: block;
  margin: 0 auto;
  line-height: 50px;
  border-radius: 50%;
}

/*Bar Style*/

.slider{
  width: 100%;
  height: 5px;
  display: block;
  background: #ccc;
  margin-top: 10px;
  border-radius: 5px;
}

.slider .bar{
  width: 25%;
  height: 5px;
  background: #700099;
  border-radius: 5px;
}

/*Animations*/
.slidemenu label, .slider .bar {
  transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
}

/*Toggle*/

.slidemenu .slide-toggle:checked + label{
  opacity: 1;
/*color: #700099;*/
}

.slidemenu #slide-item-1:checked ~ .slider .bar{ margin-left: 0; }
.slidemenu #slide-item-2:checked ~ .slider .bar{ margin-left: 25%; }
.slidemenu #slide-item-3:checked ~ .slider .bar{ margin-left: 50%; }
.slidemenu #slide-item-4:checked ~ .slider .bar{ margin-left: 75%; }

/*---- Menu Icons ----*/
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

/*----- Text Items -----*/
.home p {
    padding-top: 0px;
    font-size: 20px;
    color: #545454;
    word-wrap: break-word;
    font-family: "Jura";
    font-weight: 300;
    line-height: 24px;
    max-width: 800px;
    min-width: 100px;
    margin: auto;
    width: 90%
    display: inline-block;
    padding-bottom: 40px;
}

h1 {    
    font-family: "Alegreya Sans SC";
    font-weight: 800;
    font-size: 3.5em;
    margin-top: 25px;
    margin-bottom: 15px;
}

h2 {
    font-family: "Coming Soon";
    font-weight: 400;
    color: #000000;
    font-size: 1.5em;
}

h3, h4, h5 {
  font-family: "Coming Soon";
  font-weight: 400;
  color: #545454;
  }

/*---- Logo ----*/
.logo {
    max-width: 40%;
    max-height: 40%;
    transition: 1.5s;
    transition: transform 1.5s;
    -o-transition:  1.5s;
    -ms-transition: 1.5s;
    -webkit-transition: 1.5s;
}

/*---- Logo Hover Effect - I got this idea from my friend @ https://beard.gg ----*/
.logo:hover {
  transform: rotateY(180deg);
}

/*---- Links ----*/
a {
    outline: none;
    border:none;
    color:#000000;
    font-size:28px;
    cursor:pointer;
    text-decoration:none;
    text-shadow:none;
    transition:ease 200ms;
    -webkit-transition:ease 200ms;
}

a:hover {
    color:#700099;
    transition:ease 200ms;
    -webkit-transition:ease 200ms;
}

p a:hover {
   color:#ffffff;
   background-color:#700099;
   border-radius:2px;
   padding:2px;
   transition:ease 200ms;
   -webkit-transition:ease 200ms;
}

/*---- Hero Header ---*/
.hero-about  {
  height: 100%;
  position: relative;
  text-align: center;
  background-image: url("../images/funky-lines.png");
  overflow-x: auto;
  overflow-y: auto;
  text-rendering: optimizeLegibility;
  font-kerning: initial;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing:  inherit;
  margin-top: -10px;
  border-bottom: solid;
  border-bottom-color: #700099;
  border-bottom-width: 2px;
}

/*----- Text Items -----*/
p {
    line-height: 18px;
    position: relative;
    border-radius: 5px;
    font-size: 20px;
    word-wrap: break-word;
    font-family: "Jura";
    font-weight: 300;
    text-align: center;
}

h1 {    
    font-family: "Alegreya Sans SC";
    font-weight: 800;
    font-size: 3.5em;
    margin-top: 25px;
    margin-bottom: 15px;
}

h2 {
    font-family: "Coming Soon";
    font-weight: 400;
    color: #000000;
    font-size: 1.5em;
}

h3, h4, h5 {
  font-family: "Coming Soon";
  font-weight: 400;
  color: #545454;
  }

/*---- Logo ----*/
.logo-about {
    max-width: 40%;
    max-height: 40%;
    transition: 1.5s;
    transition: transform 1.5s;
    -o-transition:  1.5s;
    -ms-transition: 1.5s;
    -webkit-transition: 1.5s;
}

/*---- Logo Hover Effect - I got this idea from my friend @ https://beard.gg ----*/
.logo-about:hover {
  transform: rotateY(180deg);
}

/*---- Links ----*/
a {
    outline: none;
    border:none;
    color:#000000;
    font-size:28px;
    cursor:pointer;
    text-decoration:none;
    text-shadow:none;
    transition:ease 200ms;
    -webkit-transition:ease 200ms;
}

a:hover {
    color:#700099;
    transition:ease 200ms;
    -webkit-transition:ease 200ms;
}

p a:hover {
   color:#ffffff;
   background-color:#700099;
   border-radius:2px;
   padding:2px;
   transition:ease 200ms;
   -webkit-transition:ease 200ms;
}

/*---- About Section ----*/
.about-head {
   text-align: center;
   font-size: 18px;
   height: 60%;
   position: relative;
   text-align: center;
   background-image: url("../images/funky-lines.png");
   overflow-x: auto;
   overflow-y: auto;
   text-rendering: optimizeLegibility;
   font-kerning: initial;
   -webkit-font-smoothing: subpixel-antialiased;
   -moz-osx-font-smoothing:  inherit;
   margin-top: -10px;
   margin-bottom: -20px;
   border-top: solid;
   border-top-color: #700099;
   border-top-width: 2px;
   border-bottom: solid;
   border-bottom-color: #700099;
   border-bottom-width: 2px;
}

.about-head h2 {
    color: #700099;
    font-size: 1.5em;
    font-family: "Coming Soon";
    text-align: center;
}

.about-body {
  text-align: center;
}

.about-body p {
    padding-top: 40px;
    font-size: 20px;
    color: #545454;
    word-wrap: break-word;
    font-family: "Jura";
    font-weight: 300;
    line-height: 24px;
    max-width: 1000px;
    min-width: 100px;
    margin: auto;
    width: 90%
    display: inline-block;
}

.about-body ul {
    font-size: 20px;
    text-align: center;
    word-wrap: break-word;
    font-family: "Jura";
    font-weight: 300;
    line-height: 24px;
    list-style: none;
    padding: 0;

}

/*---- Projects Section ----*/
.projects-head {
   text-align: center;
   font-size: 18px;
   height: 60%;
   position: relative;
   text-align: center;
   background-image: url("../images/funky-lines.png");
   overflow-x: auto;
   overflow-y: auto;
   text-rendering: optimizeLegibility;
   font-kerning: initial;
   -webkit-font-smoothing: subpixel-antialiased;
   -moz-osx-font-smoothing:  inherit;
   margin-top: -10px;
   margin-bottom: -20px;
   border-top: solid;
   border-top-color: #700099;
   border-top-width: 2px;
   border-bottom: solid;
   border-bottom-color: #700099;
   border-bottom-width: 2px;
}

.projects-head h2 {
    color: #700099;
    font-size: 1.5em;
    font-family: "Coming Soon";
    text-align: center;
}

.projects-body {
}

.projects-body p{
    padding-top: 40px;
    font-size: 20px;
    color: #545454;
    word-wrap: break-word;
    font-family: "Jura";
    font-weight: 300;
    line-height: 24px;
    max-width: 1000px;
    min-width: 100px;
    margin: auto;
    width: 90%
    display: inline-block;
}

.projects-body ul {
    font-size: 20px;
    text-align: center;
    word-wrap: break-word;
    font-family: "Jura";
    font-weight: 300;
    line-height: 24px;
    list-style: none;
    padding: 0;
}

.projects-body a {
    outline: none;
    border:none;
    color:#700099;
    font-size:20px;
    cursor:pointer;
    text-decoration:none;
    text-shadow:none;
    transition:ease 200ms;
    -webkit-transition:ease 200ms;
}

.projects-body a:hover {
    color:#700099;
    transition:ease 200ms;
    -webkit-transition:ease 200ms;
}

.projects-body p a:hover {
   color:#ffffff;
   background-color:#700099;
   border-radius:2px;
   padding:2px;
   transition:ease 200ms;
   -webkit-transition:ease 200ms;
}

.projects-body ul a:hover {
   color:#ffffff;
   background-color:#700099;
   border-radius:2px;
   padding:2px;
   transition:ease 200ms;
   -webkit-transition:ease 200ms;
 }

 /*---- Socials and Contact Section ----*/
.socials-head {
   text-align: center;
   font-size: 18px;
   height: 60%;
   position: relative;
   text-align: center;
   background-image: url("../images/funky-lines.png");
   overflow-x: auto;
   overflow-y: auto;
   text-rendering: optimizeLegibility;
   font-kerning: initial;
   -webkit-font-smoothing: subpixel-antialiased;
   -moz-osx-font-smoothing:  inherit;
   margin-top: -10px;
   margin-bottom: -20px;
   border-top: solid;
   border-top-color: #700099;
   border-top-width: 2px;
   border-bottom: solid;
   border-bottom-color: #700099;
   border-bottom-width: 2px;
}

.socials-head h2 {
    color: #700099;
    font-size: 1.5em;
    font-family: "Coming Soon";
    text-align: center;
}

.socials-body {
}

.socials-body p{
    padding-top: 40px;
    font-size: 20px;
    color: #545454;
    word-wrap: break-word;
    font-family: "Jura";
    font-weight: 300;
    line-height: 24px;
    max-width: 1000px;
    min-width: 100px;
    margin: auto;
    width: 90%
    display: inline-block;
}

.socials-body ul {
    font-size: 20px;
    text-align: center;
    word-wrap: break-word;
    font-family: "Jura";
    font-weight: 300;
    line-height: 24px;
    list-style: none;
    margin-top: -20px;
    padding: 0;
}

.socials-body a {
    outline: none;
    border:none;
    color:#700099;
    font-size:20px;
    cursor:pointer;
    text-decoration:none;
    text-shadow:none;
    transition:ease 200ms;
    -webkit-transition:ease 200ms;
}

.socials-body a:hover {
    color:#700099;
    transition:ease 200ms;
    -webkit-transition:ease 200ms;
}

.socials-body p a:hover {
   color:#ffffff;
   background-color:#700099;
   border-radius:2px;
   padding:2px;
   transition:ease 200ms;
   -webkit-transition:ease 200ms;
 }

.socials-body ul a:hover {
   color:#ffffff;
   background-color:#700099;
   border-radius:2px;
   padding:2px;
   transition:ease 200ms;
   -webkit-transition:ease 200ms;
 }

 /*---- Footer ---*/
.footer {
  height: 100%;
  position: relative;
  text-align: center;
  background-image: url("../images/funky-lines.png");
  overflow-x: auto;
  overflow-y: auto;
  text-rendering: optimizeLegibility;
  font-kerning: initial;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing:  inherit;
  margin-top: -10px;
  border-top: solid;
  border-top-color: #700099;
  border-top-width: 2px;
}

.footer p {
  padding-top:10px;
  font-family: "Jura";
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  max-width: 1000px;
  min-width: 100px;
  margin: auto;
  width: 90%
  display: inline-block;
}
